@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Data
@using Volo.Abp.Localization
@using Volo.Abp.ObjectExtending
@using Taitans.YarpManagement
@using Taitans.YarpManagement.Web.Pages.YarpManagement.ProxyConfigs
@using Taitans.YarpManagement.Localization
@model CreateModalModel
@inject IStringLocalizer<YarpManagementResource> L
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    Layout = null;
}
<form method="post" asp-page="/YarpManagement/ProxyConfigs/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewProxyConfig"]"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ProxyConfig.Name"/>

            <abp-input asp-for="ProxyConfig.Value" type="text"/>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>